<head>  
  
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>  
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
</head>  
<style>  
html {  
    position: relative;  
    min-height: 100%;  
}  
body {  
    padding-top: 4.5rem;  
    margin-bottom: 4.5rem;  
}  
.footer {  
  position: absolute;  
  bottom: 0;  
  width: 100%;  
  height: 3.5rem;  
  line-height: 3.5rem;  
  background-color: #ccc;  
}  
.bg-dark {  
    background-color: #17293b!important;  
}  
.nav-link:hover {  
  transition: all 0.4s;  
}  
.nav-link-collapse:after {  
  float: right;  
  content: '\f067';  
  font-family: 'FontAwesome';  
}  
.nav-link-show:after {  
  float: right;  
  content: '\f068';  
  font-family: 'FontAwesome';  
}  
.nav-item ul.nav-second-level {  
  padding-left: 0;  
}  
.nav-item ul.nav-second-level > .nav-item {  
  padding-left: 20px;  
}  
@media (min-width: 992px) {  
  .sidenav {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 230px;  
    height: calc(100vh - 3.5rem);  
    margin-top: 5.0rem;  
    background: #343a40;  
    box-sizing: border-box;  
     
  }  
  .navbar-expand-lg .sidenav {  
    flex-direction: column;  
  }  
  .content-wrapper {  
    margin-left: 230px;  
  }  
  .footer {  
    width: calc(100% - 230px);  
    margin-left: 230px;  
  }  
.nav-item  {
  color: rgb(211, 211, 211); /* Inactive link color */
}

.nav-item.active  {
  color: white; /* Active link color */
}


}  
</style>

<body>  
<nav style="border-top: 1px solid rgba(218, 40, 40, 0.3); " class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" >
   <div class="navbar-brand  "  style="font-size: 20px; margin: 0 auto; width: 100%; height: 65px; color:white ">
     <p class=""> CartWise.com</p>
    </div>
  <button  
    class="navbar-toggler"  
    type="button"  
    data-toggle="collapse"  
    data-target="#navbarCollapse"  
    aria-controls="navbarCollapse"  
    aria-expanded="false"  
    aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"> </span>  
  </button>  
  <div   class="collapse navbar-collapse " id="navbarCollapse" >  
    <ul  class="navbar-nav mr-auto sidenav " id="navAccordion" >  
      <li class="nav-item ml-5 mt-2">  
        <a class="nav-link" href="/admin/dashbord"> DashBoard  </a>  
      </li>  
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin">  Products </a>  
      </li>  
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/user-data"> Users </a>  
      </li>  
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/category"> Category </a>  
      </li>  
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/user-order"> Order </a>  
      </li>   
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/banners"> Banner </a>  
      </li>   
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/view-coupon"> Coupon </a>  
      </li>   
      <li class="nav-item ml-5">  
        <a class="nav-link" href="/admin/sales-report"> Sales Report</a>  
      </li>   
      
 

        </ul>  
      </li>  
       
    </ul>  
    <form action="/admin/adminLogout" method="get" class="form-inline ml-auto mt-2 mt-md-0">  
      <button class="btn btn-outline-success  my-2 my-sm-0  ml-auto mt-2 mt-md-0" type="submit">Log Out</button>  
   </form>
  </div>  
</nav>


<script>  
  
   {{!-- $(document).ready(function() {  
  $('.nav-link-collapse').on('click', function() {  
    $('.nav-link-collapse').not(this).removeClass('nav-link-show');  
    $(this).toggleClass('nav-link-show');  
  });  
});   --}}
$(document).ready(function() {
  $('.nav-item').on('mousedown', function(event) {
    var $clickedLink = $(this).find('a.nav-link');
    $('.nav-item').removeClass('active');
    $clickedLink.addClass('active');
    
    // Store the active link information in local storage
    localStorage.setItem('activeLink', $clickedLink.attr('href'));
  });

  // Apply the active class on page load
  var activeLink = localStorage.getItem('activeLink');
  if (activeLink) {
    $('.nav-item').removeClass('active');
    $('a.nav-link[href="' + activeLink + '"]').parent('.nav-item').addClass('active');
  }
});


</script>  
</body>
