<html>

  <head>
    <title>Responsive Header with CSS Shadowing and Hover Effect</title>
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'
    />
    <style>
      .navbar-container { height: 500px; /* Adjust the height as needed */ }
      .header-content { margin-top: 20px; Increased margin-top padding: 20px;
      Added padding for better spacing } /* CSS shadowing for the navbar */ /*
      .navbar { box-shadow: 0 2px 4px rgba(1, 1, 1, 0.5); }*/ Hover effect for
      table header content .dropdown-menu .dropdown-item:hover {
      background-color: rgb(36, 37, 37); color: #fff; } @media (max-width:
      768px) { .header-content { font-size: 14px; } } /* Custom hover effect for
      links */ .navbar-nav .nav-link:hover { color: rgb(7, 252, 248) !important;
      transition: color 0.5s ease-in-out; } /* Custom hover effect for before
      pseudo-element */ .navbar-nav .nav-link::before { width: 0; transition:
      width 0.5s ease-in-out; } .navbar-nav .nav-link:hover::before { width:
      100%; transition: width 0.5s ease-in-out; }
    </style>
  </head>

  <body>
    <header>
      <nav
        class='navbar navbar-expand-lg navbar-dark fixed-top'
        style='background-color: rgba(0, 0, 0,0.7)'
      >
        <button class='btn btn-outline-light btn btn-sm' id='back-button'><i
            class='fas fa-arrow-left'
          ></i>
        </button>

        <a
          style='color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);'
          class='navbar-brand ml-3'
          href='/'
        ><b>C</b>art<b>W</b>ise.site</a>

        <button
          class='navbar-toggler'
          type='button'
          data-toggle='collapse'
          data-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>

        <div
          style='height: 70px;'
          class='collapse navbar-collapse'
          id='navbarSupportedContent'
        >
          <ul class='navbar-nav ml-auto'>
            <li class='nav-item'>
              <a
                style='color: rgb(238, 236, 238);'
                id='shop-now-button'
                class='nav-link ml-5'
                href='/allproducts'
              ><b>Shop now</b></a>
            </li>
            <li class='nav-item dropdown'>
              <a
                style='color: #fff;'
                class='nav-link dropdown-toggle ml-5'
                href='#'
                id='navbarDropdown'
                role='button'
                data-toggle='dropdown'
                aria-haspopup='true'
                aria-expanded='false'
              >
                Account
              </a>
              <div
                style='background-color: rgba(0, 0, 0,0.7) ; color: ;'
                class='dropdown-menu'
                aria-labelledby='navbarDropdown'
              >
                <a
                  style='color: rgb(25, 181, 237); background-color:rgba(0, 0, 0,0.7) ;'
                  class='dropdown-item'
                  href='/order-summary'
                ><i class='fas fa-shopping-cart mr-2'></i>My Orders</a>
                <a
                  style='color:   rgb(25, 181, 237);background-color:rgba(0, 0, 0,0.7) '
                  class='dropdown-item'
                  href='/user-profile'
                ><i class='fas fa-user mr-2'></i> Account Details</a>
                {{! <a style="color: #cdc9c9d2;;" class="dropdown-item" href="/wishlist">Wishlist</a> }}
                <a
                  style='color:   rgb(25, 181, 237) ;background-color:rgba(0, 0, 0,0.7) '
                  class='dropdown-item'
                  href='/wallet'
                > <i class='fas fa-wallet mr-2'></i> Wallet</a>
                <a
                  style='color:  rgb(25, 181, 237); background-color:rgba(0, 0, 0,0.7) '
                  class='dropdown-item'
                  href='/error-page'
                > <i class='fas fa-envelope mr-2'></i> Contact Us</a>
              </div>

            </li>
            <li class='nav-item'>
              <a style='color: #fff;' class='nav-link ml-5' href='/cart'>Cart
                <span
                  class='badge badge-info'
                  id='cart-count'
                >{{cartCount}}</span></a>
            </li>

            <li>
              <a
                style='color: rgb(253, 250, 250);'
                class='nav-link ml-5'
                href='/wishlist'
              > <i class='fas fa-heart'></i></a>
            </li>
            {{! <li class="nav-item dropdown">
                        <a style="color: #fff;" class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div style="background-color: rgba(0, 0, 0,0.7);" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="color: #cdc9c9d2;" class="dropdown-item" href="/error-page">Ultrabook</a>
                            <a style="color: #cdc9c9d2;" class="dropdown-item" href="/error-page">Gaming</a>
                            <a style="color: #cdc9c9d2;" class="dropdown-item" href="/error-page">2 in 1</a>
                        </div>
                    </li> }}
          </ul>
          <div class='dropdown'>
            <button
              class='btn btn-outline-info dropdown-toggle ml-4 ms-2'
              type='button'
              id='dropdownMenuButton'
              data-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            >
              {{#if user}}
                {{user.Name}}
              {{else}}
                Login
              {{/if}}
            </button>
            <div
              style='background-color: rgba(0, 0, 0,0.7);'
              class='dropdown-menu'
              aria-labelledby='dropdownMenuButton'
            >
              {{#if user}}
                <a
                  style='color: #cdc9c9d2;'
                  class='dropdown-item'
                  href='/logout'
                >Logout</a>
              {{else}}
                <a
                  style='color: #cdc9c9d2;'
                  class='dropdown-item'
                  href='/login'
                >Login</a>
                <a
                  style='color: #cdc9c9d2;'
                  class='dropdown-item'
                  href='/admin'
                >Admin</a>
              {{/if}}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
    ></script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
    ></script>
  </body>
  <script>
    // Get a reference to the back button element const backButton =
    document.getElementById("back-button"); // Add a click event listener to the
    back button backButton.addEventListener("click", function() { // Call the
    goBack function to navigate back goBack(); }); function goBack() { // Use
    the history object to navigate back window.history.back(); }

  </script>
</html>