<section class="vh-100" style="  padding-top:100px;  height: 100%; display: flex; justify-content: center; align-items: center;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-8 col-xl-6">
        <div class="card p-md-5" style="background-color: rgb(219, 219, 219); border-radius: 10px; padding-top:100px">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <p class="text-center h3 fw-bold mb-5 mt-4">OTP Verification</p>
              <form id="otpForm" action="/otp" method="post">
                <div class="mb-4">
                  <div style="padding:20px " class="input-group">
                    
                    <input style="" type="text" id="otp" class="form-control" name="otp" placeholder="Enter OTP" required>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <button type="submit" class="btn btn-primary">Verify OTP</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
