<html>
  <head>
    <title>Slider</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'
      integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk'
      crossorigin='anonymous'
    />

    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>
  <body>
    <style>
      body{ padding-top: 100px; } #content-wrapper{ display: flex; flex-wrap:
      wrap; justify-content: center; align-items: center; } .column{ width:
      600px; padding: 10px; } #featured{ max-width: 500px; max-height: 600px;
      cursor: pointer; border: 2px solid black; } .thumbnail{ object-fit: cover;
      max-width: 180px; max-height: 100px; cursor: pointer; opacity: 0.5;
      margin: 5px; border: 2px solid black; } .thumbnail:hover{ opacity:1; }
      .active{ opacity: 1; } #slide-wrapper{ margin-top: 30px; max-width: 500px;
      display: flex; min-height: 100px; align-items: center; } #slider{ width:
      440px; display: flex; flex-wrap: nowrap; overflow-x: auto; }
      #slider::-webkit-scrollbar { width: 8px; }
      #slider::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px
      rgba(0,0,0,0.3); } #slider::-webkit-scrollbar-thumb { background-color:
      #dede2e; outline: 1px solid slategrey; border-radius: 100px; }
      #slider::-webkit-scrollbar-thumb:hover{ background-color: #18b5ce; }
      .arrow{ width: 30px; height: 30px; cursor: pointer; transition: .3s; }
      .arrow:hover{ opacity: .5; width: 35px; height: 35px; } #img-container{
      z-index: 1; max-width: 500px; position: relative; } #lens{ z-index: 2;
      position: absolute; height: 125px; width: 125px; border:2px solid black;
      background-repeat: no-repeat; cursor: none; }

    </style>

    <div id='content-wrapper'>

      <div class='column'>
        <div id='img-container'>
          <div id='lens'></div>
          <img id='featured' src='user/images/Screenshot (26).png' />
        </div>
        <div id='slide-wrapper'>
          <img id='slideLeft' class='arrow' src='images/arrow-left.png' />

          <div id='slider'>
            <img class='thumbnail active' src='images/shoe1.jpg' />
            <img class='thumbnail' src='images/Screenshot (26).png' />
            <img class='thumbnail' src='images/shoe3.jpg' />

          </div>

          <img id='slideRight' class='arrow' src='images/arrow-right.png' />
        </div>
      </div>

      <div class='column'>
        <h1>Awesome Shoes</h1>
        <hr />
        <h3>$89.99</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>

        <input value='1' type='number' />
        <a class='btn btn-dark' href='#'>Add to Cart</a>
      </div>

    </div>
    <script>
      document.getElementById('img-container').addEventListener('mouseover',
      function(){ imageZoom('featured') }) function imageZoom(imgID){ let img =
      document.getElementById(imgID) let lens = document.getElementById('lens')
      lens.style.backgroundImage = `url( ${img.src} )` let ratio = 3
      lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height *
      ratio) + 'px'; img.addEventListener("mousemove", moveLens)
      lens.addEventListener("mousemove", moveLens)
      img.addEventListener("touchmove", moveLens) function moveLens(){ /*
      Function sets sets position of lens over image and background image of
      lens 1 - Get cursor position 2 - Set top and left position using cursor
      position - lens width & height / 2 3 - Set lens top/left positions based
      on cursor results 4 - Set lens background position & invert 5 - Set lens
      bounds */ //1 let pos = getCursor() //console.log('pos:', pos) //2 let
      positionLeft = pos.x - (lens.offsetWidth / 2) let positionTop = pos.y -
      (lens.offsetHeight / 2) //5 if(positionLeft < 0 ){ positionLeft = 0 }
      if(positionTop < 0 ){ positionTop = 0 } if(positionLeft > img.width -
      lens.offsetWidth /3 ){ positionLeft = img.width - lens.offsetWidth /3 }
      if(positionTop > img.height - lens.offsetHeight /3 ){ positionTop =
      img.height - lens.offsetHeight /3 } //3 lens.style.left = positionLeft +
      'px'; lens.style.top = positionTop + 'px'; //4
      lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' + (pos.y *
      ratio) + 'px' } function getCursor(){ /* Function gets position of mouse
      in dom and bounds of image to know where mouse is over image when moved 1
      - set "e" to window events 2 - Get bounds of image 3 - set x to position
      of mouse on image using pageX/pageY - bounds.left/bounds.top 4- Return x
      and y coordinates for mouse position on image */ let e = window.event let
      bounds = img.getBoundingClientRect() //console.log('e:', e)
      //console.log('bounds:', bounds) let x = e.pageX - bounds.left let y =
      e.pageY - bounds.top x = x - window.pageXOffset; y = y -
      window.pageYOffset; return {'x':x, 'y':y} } } imageZoom('featured') let
      thumbnails = document.getElementsByClassName('thumbnail') let activeImages
      = document.getElementsByClassName('active') for (var i=0; i <
      thumbnails.length; i++){ thumbnails[i].addEventListener('click',
      function(){ console.log(activeImages) if (activeImages.length > 0){
      activeImages[0].classList.remove('active') } this.classList.add('active')
      document.getElementById('featured').src = this.src }) } let buttonRight =
      document.getElementById('slideRight'); let buttonLeft =
      document.getElementById('slideLeft'); buttonLeft.addEventListener('click',
      function(){ document.getElementById('slider').scrollLeft -= 180 })
      buttonRight.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft += 180 })
    </script>

  </body>
</html>